*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    width: 75%;
    display: flex;
    background-color: antiquewhite;
    border: 5px solid red;
    overflow: auto;
}
img{
    width: 50%;
    height: 50vh;
    margin: 10px;
}
